.container {
    padding: 20px 0;
    height: 100vh;
    background-color: rgb(252, 249, 229);
}
.text {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}