.email {
    font-size: 16px;
    margin-bottom: 8px;
    color: rgb(73, 74, 75);
}
.button {
    display: block;
    padding: 3px 10px;
    border: 1px solid rgb(155, 155, 155);
    background-color: rgb(177, 177, 177);
    border-radius: 4px;
    color: rgb(44, 44, 44);
}

.button:hover {
    background-color: rgb(161, 193, 252);
    color: black;
}

.button:active {
    background-color: rgb(117, 161, 243);
    color: black;
}