.box {
    display: flex;
}

.contactsWrapper{
    margin-left: auto;
    padding: 30px;
}

.contactForm {
    padding: 30px;
   
}
.title {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: 700;
}

