@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  padding: 0;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  width: 200px;
  padding: 4px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgb(165, 165, 165);
}
input:focus{
  border-color: rgb(154, 154, 255);
}
label {
  display: block;
  font-size: 18px;
  margin-bottom: 3px;
}
.container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}




