.contactList {
    width: 390px;
    padding: 10px 15px 10px 15px;
}
.marker{
    width: 5px;
    height: 5px;
    margin-top: 2px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: black;
}
.item {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.text {
    display: inline;
}
.button {
    margin:  0px  0px 0px auto;
    padding: 1px 7px;
    font-size: 12px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 4px;
}
.button:hover {
    background-color: rgb(218, 218, 218);
}

.button:active {
    border: 1px solid rgba(233, 36, 1, 0.582);
}